/*Desenvolvido por Graziela Caldeira*/
body {background-color: blueviolet; color: white;
}
h1 {
    text-align: center; color: white;
}
img.filter{
    filter: brightness(0) invert(1);
    transform: scale(0.7);
    padding: 1%;
    margin-bottom: 5px;
}
p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12pt
}
button.icon{
    font-size: 3rem;
    filter: brightness(0) invert(1);
}
